* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #af1746;
  font-size: 16px;
  min-width: 320px;
}

/* GENERALI */
.style-h {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2em;
  padding: 30px 0;
  text-align: center;
}

.form,
.biglietto {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  -webkit-box-shadow: 9px 10px 19px -10px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 9px 10px 19px -10px rgba(0, 0, 0, 0.67);
  box-shadow: 9px 10px 19px -10px rgba(0, 0, 0, 0.67);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.form,
.input,
.box-right__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  padding: 0 30px 30px 30px;
}

.input__label {
  color: #af1746;
  padding-bottom: 20px;
}

.input__box {
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  border: 1px solid #af1746;
}

.input__box:focus {
  background-color: #af1746;
  color: #ffffff;
}

.input__box:focus::placeholder {
  color: #ffffff;
}

.input__box::placeholder {
  text-align: center;
}


.btn {
  background-color: #cccccc;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  padding: 5px 10px;
  margin-right: 10px;
  color: #af1746;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #a4a4a4;
  ;
}

.biglietto {
  display: flex;
  flex-direction: column;
}

.biglietto h3 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.biglietto__box {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.biglietto__box h5 {
  padding-top: 20px;
  font-weight: 400;
}

.biglietto__box__left {
  background-color: grey;
  flex-basis: 20%;
  padding: 30px;
}

.biglietto__box__right {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-basis: 80%;
}

.box-right__table {
  flex-basis: 20%;
  justify-content: flex-start;
  padding: 30px;
}

.hidden {
  opacity: 0;
  transition: 0.4s;
}

.visibility {
  opacity: 1;
  transition: 0.4s;
}

@media screen and (max-width: 880px) {
  body {
    font-size: 18px;
  }

  .form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .biglietto__box {
    display: flex;
    flex-direction: column;
  }

  .biglietto__box__right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
